.card-row {
    margin-bottom: 2rem;
}

.wishlist-page {
    margin-top: 20px;
}

.no-wishlist {
    text-align: center;
    font-family: "Exo", sans-serif;
    color: white;
    font-size: 3rem;
    flex-grow: 1;
    margin-top: 20px;
}

.no-wishlist .text-muted {
    font-size: 1.6rem;
}